build
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/.filecache
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/.filecache
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/app.dill
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/debug_android_application.stamp
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/flutter_assets.d
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/kernel_snapshot.d
.dart_tool/flutter_build/98c9f1d7ed12a6fca3f758eb2f9bc2dc/kernel_snapshot.stamp
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/.filecache
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/app.dill
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/debug_android_application.stamp
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/flutter_assets.d
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/kernel_snapshot.d
.dart_tool/flutter_build/c85f1b3089768c33e5f2014b63f19fc0/kernel_snapshot.stamp
